@import url('https://fonts.googleapis.com/css2?family=Elms+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

*{
  font-family: "Elms Sans", sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

/* Abhi idhr you have to define your primary colour as well alright??? You have to do that as well */

.label{
  font-weight: 700;
  font-size: larger;
}
